.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: row;
}

.header{
	justify-content: flex-start;
}

.point{
	padding-left:20px;
	font-size: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.cub{
    width: 100px;
    height: 150px;
    min-width: 100px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    box-sizing: content-box;
    transition: width 2s;
    box-shadow: 4px 4px 7px rgba(23, 23, 141, 0.2);
}

.cub:last-child{
    box-shadow: -4px -4px 7px rgba(23, 23, 141, 0.2);
}

.cub:not(:last-child){
    margin-right: 10px;
}

.cub:last-child{
    margin-left: auto;
    margin-top: auto;
}

div p{
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 0;
    font-family: 'Tahoma';
    padding-right: 20px;
}

.cub:nth-child(2n+1):hover{
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    border-color: white;
    cursor: pointer;
    width: 150px;
}

.cub:nth-child(2n):hover{
    background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 20px);
    border-color: black;
    cursor: pointer;
    width: 150px;
}

img{
    width: 30px;
    padding-right: 20px;
}


