@font-face{
    font-family: "PTRootUI_Regular";
    src: url("../fonts/PT-Root-UI.web/PT/PT/PT-Root-UI/PT-Root-UI_Regular.web.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Montserrat_Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "PTRootUI_Medium";
    src: url("../fonts/PT-Root-UI.web/PT/PT/PT-Root-UI/PT-Root-UI_Medium.web.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

header a:link, header a:visited, header a:hover, header a:active{
    color: black;
}

header{
    background-color: #72C7F7;
    box-shadow: 0px 1px 20px rgba(89, 189, 246, 0.5);
    height: 120px;
    font-family: "PTRootUI_Medium";
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
}

.logo_header{
    padding: 30px 0;
}

.navigation{
    display: flex;
    flex-direction: row;
    padding: 48.8px 0;
}

.navigation div:not(:first-child){
    padding-left: 50px;
}

.menu{
    display: none;
}

@media screen and (max-width: 1094px){
    header{
        padding: 0 45px; 
    }
}

@media screen and (max-width: 934px){
    .navigation div:not(:first-child){
        padding-left: 20px;
    }
}

@media screen and (max-width: 800px){
    header{
        height: 80px;
    }

    .navigation{
        display: none;
    }

    .logo_header img {
        height: 40px;
    }

    .logo_header{
        padding: 20px 0;
    }

    .menu{
        display: block;
        padding: 26px 0;
    }
}